
<div class="container">
  <mat-card style="min-width: 400px; margin-top: -20px;" class="mat-elevation-z14">
    <mat-card-content>
      <h2 class="auth-form-title mt-2 mb-2 text-uppercased text-italic" style="line-height: 60px;" [translate]="'recover_password.title'"></h2>
      <div *ngIf="succeeded">
        <p [translate]="'recover_password.success_message'"></p>
        <a [routerLink]="['/login']" [translate]="'recover_password.return_login'" class="px-8 mat-button-base mat-stroked-button text-theme w-100"></a>
      </div>
      <form  name="form" (ngSubmit)="submit()" #f="ngForm" novalidate class="w-100" *ngIf="!succeeded">
        <p class="text-gray mb-2" [translate]="'recover_password.notice'"></p>

        <mat-error *ngIf="hasError" [translate]="errorMessage"></mat-error>

        <mat-form-field class="full-width-input mb-2" appearance="outline">
          <input matInput placeholder="{{'recover_password.email' | translate }}" type="email" name="email" [(ngModel)]="form.email" required #email_evt="ngModel" />
          <mat-error [translate]="'recover_password.email_required'"></mat-error>
        </mat-form-field>

        <button [disabled]="loading" mat-flat-button class="w-100 btn-orange border-radius-0 text-uppercased mb-2" style="padding: 8px;">{{'recover_password.save' | translate}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  mat-form-field {
    display: block;
  }

  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

