.e-avatar {
    height: 175px;
    width: 175px;
    border: 1px solid gainsboro;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/images/profile_avatar.jpg")
  }
  .table{
    border:none;
  }
  .table td{
    border: none;
  }