<div class="container">
  <div class="row">
    <div class="col">
      <mat-card  class="text-white">{{'expert.layout.dashboard.number_consultation' | translate}}<b> 12</b></mat-card>
    </div>
    <div class="col">
      <mat-card  class="text-white">{{'expert.layout.dashboard.number_consultation' | translate}} <b> 3.5/5</b> </mat-card>
    </div>
    <div class="col">
      <mat-card class="text-white">{{'expert.layout.dashboard.message_received' | translate}} <b>10</b> </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">
      <br>
      <br>
      <br>
      <br>
      <br>

      <p style="text-align:justify">
         <strong>{{'expert.layout.dashboard.message' | translate}} </strong>
      </p>
    </div>
  </div>
</div>
